<% include partials/header %>

<h1>Get the Weather</h1>

<form class="" action="/home" method="post">
    <div class="">
        <h2 class="inner-form">Enter an address, a city and state, or a zip code below</h2>
        <input class="inner-form" type="text" name="wether">
        <button class="inner-form" type="button" name="button">SUBMIT</button>
    </div>
</form>

<% include partials/footer %>
