nav,
header,
footer {
	display: block;
}


body{
	line-height: 1;
	margin: 0;
	background: #6190E8; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #6190E8 , #A7BFE8); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #6190E8 , #A7BFE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Tahoma, Geneva, sans-serif;
	color: #282727
}


/*h1 {
    animation-duration: 4s;
    animation-name: fadein;
}

@keyframes fadein{
	  from {
	  	opacity: 0;
	  }
	  to {
	    opacity: 1;
	  }
	}
	.start{
    	position: absolute;
    	left: -100%;
    	transition: 1s;
	}
	.fadein{
		color: #1339c4;
		transition: 2s;
    	left: 0;
    	margin: 5% 30% 5% 30%;
	}


    @keyframes fadein{
	  from {
	  	opacity: 0;
	  }
	  to {
	    opacity: 1;
	  }
	}

	.start{
    	position: absolute;
    	left: -100%;
    	transition: 1s;
	}
	.fadein{
		color: #1339c4;
		transition: 2s;
    	left: 0;
    	margin: 5% 30% 5% 30%;
	}*/
/*######  Navbar ########*/

nav {
	width: 100%;
	margin: 0;
}

nav ul{
	background: #eee;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

ul.topnav li{
	list-style: none;
	float: left;
}

ul.topnav li a{
	display: block;
	text-decoration: none;
	min-height: 16px;
	text-align: center;
	padding: 14px;
	text-transform: uppercase;
}

ul.topnav li a:hover{
	background: #0080ff;
	color: #fff;
}

ul.topnav li.dropdownIcon{
	display: none;
}

/*#########   Mobile  ##########*/
@media screen and (max-width: 680px){
	ul.topnav li:not(:nth-child(1)){
		display: none;
	}

	ul.topnav li.dropdownIcon{
		display: block;
		float: right;
	}

	ul.topnav.responsive li.dropdownIcon{
		position: absolute;
		top: 0;
		right: 0;
	}

	ul.topnav.responsive{
		position: relative;
	}

	ul.topnav.responsive li{
		display: inline;
		float: none;
	}

	ul.topnav.responsive li a{
		display: block;
		text-align: left;
	}
}
